/* ImageDisplay.css */

.image-container {
  width: 100vw; /* Set width to 100% of viewport width */
  height: 70vh; /* Set height to 50% of viewport height, adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide any overflowing content */
}

.full-size-image {
  width: 100%; /* Set image width to 100% */
  height: 100%; /* Set image height to 100% */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}